.header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 7vh;
    background: none;
    display: inline-block;
}

.header__logo {
    width: 50%;
    text-align: left;
    font-size: 7vh;
    color: darkred;
    display: inline-block;
}

.header__menu {
    position: absolute;
    width: 50%;
    display: inline-block;
}
.header__button {
    border: none;
    width: 30%;
    float: left;
    height: 6vh;
    display: inline-block;
    color: darkred;
    text-align: center;
    font-size: 4vh;
    text-decoration: none;
    overflow: hidden;
}

.header__button:hover {
    background-color: #444444;
    opacity: 0.5;
}

.header__button_pressed {
    background-color: #444444;
    opacity: 0.5;
}
